= render 'shared/header'

.post-header.six.columns
  %h3 whoami

.ten.columns
  %p I'm Scott.  I like building products, learning to code, listening to public radio, cooking, and spending time with my lovely wife and dog.

= render 'shared/footer'
