= render 'shared/header'

- if params[:year].present? && params[:month].present?

  = render @posts_in_month

- else

  .post-list
    - @posts_by_month.each do |month_name, posts|
      - year = posts.first.published_at.strftime('%Y')
      - month = posts.first.published_at.strftime('%m')
      %h4= link_to month_name, archives_path(year, month)

= render 'shared/footer'
