- content_for :head, auto_discovery_link_tag(:rss, posts_url(format: "rss"))

= render 'shared/header'

#posts
  - if @posts.any?
    = render @posts
  - else
    .post-stub
      %em Welcome! More content coming soon.

= will_paginate @posts

= render 'shared/footer'