/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require_tree .
 */

body#main {
  background: #FDFDFD;
}

.header {
  text-align: center;
  margin-top: 30px;
}

.header-links {
  margin-top: -26px;
}

.header-links a {
  padding: 0 6px 0 6px;
}

a.logo {
  display: block;
  text-decoration: none;
}

span.brand {
  margin-right: -10px;
  color: red;
}

em.tagline {
  display: block;
  margin: -5px 0 5px 0;
}

.post-stub {
  text-align: center;
  margin-bottom: 40px;
}

.pagination {
  text-align: center;
}

h3.title a {
  text-decoration: none;
}

.post-header {
  text-align: center;
  border-bottom: 5px solid #181818;
  margin-bottom: 20px !important;
}

.post-list {
  text-align: center;
  padding-bottom: 20px;
}

a.disqus-link, a.disqus-link:visited {
  text-decoration: none;
  font-size: 12px;
  color: gray;
}

.form.wide {
  text-align: center;
}

.form.wide input[type="text"],
.form.wide textarea,
.form.wide textarea:focus {
  border: none;
  outline: 0px none transparent;
  border-bottom: 1px solid #CCC;
  width: 100%;
}

.form.wide textarea,
.form.wide textarea:focus {
  overflow: auto;
  resize: none;
  height: 450px;
  width: 100%;
}

img.ajax-loader {
  padding-right: 5px;
}

.footer {
  /*position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: white;*/
  text-align: center;
  padding-bottom: 20px;
  /*margin-bottom: 30px;*/
}

.nav-links {
  margin-top: -10px;
  margin-bottom: 10px;
}

.nav-links a {
  padding: 0 6px 0 6px;
}
