.alert {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.alert-success, .alert-notice {
  color: #468847;
  font-size: 14px;
  border: 1px solid #D6E9C6;
  background: #DFF0D8;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;

  a {
    color: #468847;
  }
}

.errors {
  color: #333;
  font-size: 14px;
  border: 1px solid #C60F13;
  background: rgba(198, 15, 19, 0.1);
  margin-bottom: 20px;
  -webkit-border-radius: 10px;

  li {
    list-style: none;
    margin-bottom: 5px;
  }

  h4.error-header {
    color: #C60F13 !important;
    padding-top: 10px;
  }
}