// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-stub {
  text-align: center;
  margin-bottom: 30px;

  a { border-bottom: none; }
  a:hover, a:focus { padding: 5px; }
}

.post-header {
  text-align: center;
  border-bottom: 2px solid #222;
  margin-bottom: 20px !important;
}

.post-list {
  text-align: center;
  padding-bottom: 5px;

  h4 { margin-bottom: 20px; }
  a { border-bottom: none; }
}

.pagination {
  text-align: center;
}

img.ajax-loader {
  padding-right: 7px;
  margin-bottom: -5px
}

h3.title {
  margin-bottom: 0px;
  margin-top: 0px !important;
}

a.disqus-link, a.disqus-link:visited {
  font-size: 12px;
  color: #777;
}

/* ADMIN AREA */

.form.wide {
  text-align: center;

  #{$all-text-inputs}, textarea, textarea:focus { width: 100%; }

  textarea, textarea:focus { height: 450px; }
}