/* here be variables for all stylesheets*/


/* COLORS */
$body_background_color: #F8F5EF;
$accent_color: red;

$h1_color: #172bae;

/* FONTS */
$primary_font: 'Merriweather';
$secondary_font: 'Georgia';
$tertiary_font: serif;

$h1_primary_font: 'Lato';
$h1_secondary_font: 'Georgia';
$h1_tertiary_font: serif;

$body_font_size: 16px;
$body_line_height: 25px;

/* SIZES */

$body_accent_border_size: 3px;
